<a href="https://colab.research.google.com/github/AlexRc11/tareas/blob/main/4ScripTareAlex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Programa encuentra el promedio 
#Realizado por Alex Rodriguez C. 223209-2
#Ciencia de Datos. Lazaro Bustio.
#Obj. Obtener el promedio de una columna dada en un DataFrame. 

#importa librer√≠as
import pandas as pd
import numpy as np

rows = 5
cols = 5
cols1='a', 'b', 'c', 'd', 'e'

df=pd.DataFrame(np.random.rand(rows, cols), columns=cols1)
df

          a         b         c         d         e
0  0.990599  0.641428  0.438367  0.111955  0.347146
1  0.475427  0.145722  0.711695  0.117272  0.961782
2  0.016393  0.856425  0.845828  0.005164  0.172961
3  0.632875  0.551830  0.507459  0.563622  0.857685
4  0.374942  0.766648  0.767425  0.215033  0.523170

In [ ]:
df['c'].mean()

0.6541547334406659